<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomers" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62341/Customers.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICustomers" contract="ICustomers"
                name="BasicHttpBinding_ICustomers" />
        </client>
    </system.serviceModel>
</configuration>